header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 120px;
  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 2;
    .logo-text {
      font-family: "PlayfairDisplay";
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color: #444444;
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    &.search-opened {
      width: 100%;
      max-width: 600px;
    }
    &-list {
      display: flex;
      gap: 40px;
      align-items: center;
      &__link {
        font-family: 'FuturaDemi';
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 0 3px;
        min-width: fit-content;
        order: var(--order);
        &:hover {
          color: lighten($link-color, 20%)
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    .logo-wrapper {
      gap: 20px;
    }
    .navigation {
      gap: 20px;
      &-list {
        gap: 20px;
      }
      &.search-opened {
        max-width: 500px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: 34px 60px;
    .navigation-list {
      display: none;
    }
    .navigation.search-opened {
      max-width: 400px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    .logo-wrapper {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: 20px 16px;
  }
}

.fade {
  &-enter-active {
    transition: opacity $default-transition;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

