<template>
  <header>
    <div class="logo-wrapper">
      <p class="logo-text">AR.CHI</p>
      <LanguageSelector v-if="isLargerThanTablet" />
    </div>
    <div
      class="navigation"
      :class="{'search-opened': isSearchOpened}"
    >
      <Transition name="fade" mode="out-in">
        <nav
          v-show="!isBurgerMenuOpened && !isSearchOpened"
          class="navigation-list"
        >
          <NuxtLink
            v-for="{href, title, order} in navLinks"
            :key="title"
            :to="href"
            class="navigation-list__link"
            :style="`--order: ${order};`"
          >
            {{ title }}
          </NuxtLink>
        </nav>
      </Transition>
      <Transition name="fade">
        <SearchBar v-if="!isBurgerMenuOpened" />
      </Transition>
      <BurgerMenu />
    </div>
  </header>
</template>

<script setup lang="ts">
const isSearchOpened = useState<boolean>('isSearchOpened', () => false)
const isBurgerMenuOpened = useState<boolean>('isBurgerMenuOpened', () => false)
const navLinks = useState('navLinks')

const isLargerThanTablet = useMediaQuery('(min-width: 768px)')
</script>

<style lang="scss" scoped>
@import 'Header.scss';
</style>