<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  title: "Ar.chi Landing page"
})

useState('navLinks', () => [
  {
    href: '/',
    title: 'About us',
    order: 1
  },
  {
    href: '/',
    title: 'Interior',
    imageLink: '/images/interior.jpg',
    order: 3
  },
  {
    href: '/',
    title: 'Architecture',
    imageLink: '/images/architecture.jpg',
    order: 2
  },
  {
    href: '/',
    title: 'Contact',
    order: 4
  },
  {
    href: '/',
    title: 'Shop',
    order: 5
  }
])

useState('socialLinks', () => [
  {
    href: '/',
    title: 'Facebook'
  },
  {
    href: '/',
    title: 'Vkontakte'
  },
  {
    href: '/',
    title: 'Behance'
  }
])

</script>