<template>
  <div class="social-links">
    <NuxtLink
      v-for="({href, title}, index) in socialLinks"
      :key="title"
      :to="href"
      class="link"
      :class="{ 'animated': animated }"
      :style="`animation-delay: ${(index + 1) * .3}s`"
    >
      {{ title }}
    </NuxtLink>
  </div>
</template>

<script setup lang="ts">
defineProps({
  animated: {
    type: Boolean,
    required: false
  }
})
const socialLinks = useState('socialLinks')
</script>

<style lang="scss" scoped>
@import 'SocialLinks.scss';
</style>