.social-links {
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 35px;
  .link {
    position: relative;
    color: #333333;
    font-family: 'FuturaDemi';
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    &.animated {
      opacity: 0;
      left: -20px;
      animation: reveal-link-from-left .4s forwards linear;
    }
    &:hover {
      color: lighten($link-color, 20%)
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    bottom: 40px;
  }
}

@keyframes reveal-link-from-left {
  to {
    left: 0;
    opacity: 1
  }
}