.search {
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    background: #000;
    opacity: .2;
  }
  &:after {
    left: unset;
    right: 0;
  }

  .search-img, .search-bar__search-img {
    min-width: 20px;
  }

  .search-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    animation: animate-full-opacity forwards .3s ease;
    &__input {
      margin-left: 10px;
      width: 100%;
      height: 100%;
      padding: 4px 0;
      font-family: 'FuturaBook';
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      border: none;
      outline: none;
      background: rgba(0,0,0,0);
      &::placeholder {
        opacity: .5;
      }
    }
    &__close-img {
      animation: animate-full-opacity forwards .3s ease;
      min-width: 15px;
      min-height: 15px;
      padding: 0 10px;
      cursor: pointer;
    }
  }

  &.opened {
    cursor: default;
    width: 100%;
    animation: animate-full-width forwards .3s ease;
    padding: 0 26px 0 10px;
    .stroke-line {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid black;
      opacity: 0.2;
      padding-top: 10px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 10px;
    
    &.opened {
      padding: 0 0 0 10px;
    }
  }
}

@keyframes animate-full-width {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}

@keyframes animate-full-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}