<template>
  <div
    ref="searchRef"
    class="search"
    :class="{ 'opened': isOpened }"
    @click="isOpened = true"
  >
    <div
      v-if="isOpened"
      class="search-bar"
    >
      <NuxtImg
        class="search-bar__search-img"
        src="/icons/search.svg"
        alt="search"
      />
      <input
        v-model.trim="searchText"
        class="search-bar__input"
        placeholder="What are you looking for?"
      />
      <NuxtImg
        class="search-bar__close-img"
        @click.stop="closeSearch"
        src="/icons/close.svg"
        alt="close"
      />
    </div>
    <NuxtImg
      v-else
      class="search-img"
      src="/icons/search.svg"
      alt="search"
    />
    <div v-if="isOpened" class="stroke-line" />
  </div>
</template>

<script setup lang="ts">
const searchRef = ref()

const searchText = useState<string>('searchText', () => '')
const isOpened = useState<boolean>('isSearchOpened', () => false)

const closeSearch = () => {
  isOpened.value = false
  searchText.value = ''
}

onClickOutside(searchRef, closeSearch)
</script>

<style lang="scss" scoped>
@import 'SearchBar.scss';
</style>