.slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  &-title {
    font-family: "PlayfairDisplay";
    font-size: 96px;
    font-weight: 700;
    color: #425A20;
    line-height: 1;
    margin-bottom: 47px;
  }
  &-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 630px;
    gap: 60px;
    margin-bottom: 36px;
    .description-column {
      &__title {
        font-family: 'FuturaDemi';
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        margin-bottom: 10px;
        color: #425A20;
      }
      &__text {
        font-family: 'FuturaBook';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #444444E5;
      }
    }
  }
  &-buttons {
    display: flex;
    gap: 20px;
    .read-more {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: #597D4E;
      color: white;
      font-family: 'FuturaDemi';
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 5px;
      max-width: 200px;
      width: 100%;
      height: 46px;
      white-space: nowrap;
      &:hover {
        box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
        &:before {
          transform: rotate(0)
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: inherit;
        border: .5px solid #000;
        transform: rotate(-2deg);
        transition: $default-transition;
      }
    }
    .view-project {
      display: flex;
      background: rgba(0,0,0,0);
      align-items: center;
      justify-content: center;
      position: relative;
      max-width: 200px;
      width: 100%;
      height: 46px;
      color: #425A20;
      font-family: 'FuturaDemi';
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 5px;
      white-space: nowrap;
      & > img {
        width: 26px;
        height: 26px;
      }
      & > span {
        margin-left: 5px;
      }
      &:hover {
        background: #425a2030;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    &-title {
      margin-bottom: 35px;
    }
    &-description {
      flex-direction: column;
      gap: 20px;
      max-width: 400px;
      margin-bottom: 26px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    .description-column {
      &__title {
        font-weight: 700;
        font-size: 18px;
      }
      &__text {
        color: #444444;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    &-title {
      font-size: 64px;
    }
  }
}

.slider-controller {
  display: flex;
  align-items: center;
  .prev-slide, .next-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: $default-transition;
    &:hover {
      background: rgba(0,0,0,.1);
    }
    img {
      width: 10px;
      height: 10px;
    }
  }
  .next-slide {
    & > img {
      transform: rotate(180deg);
    }
  }
  .current-slide, .total-slides {
    font-family: 'ZillaSlab';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #222222;
    padding: 0 13px;
  }
  .progress {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 1px;
    background: #425A2061;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--percentage, 0);
      height: inherit;
      background: #425A20;
      max-width: 100%;
      transition: $default-transition;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    justify-content: center;
  }
}

.slide-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  & > img {
    height: 100%;
    @media screen and (max-width: $breakpoint-md) {
      position: absolute;
      bottom: 0;
      height: 80%;
      opacity: .6;
    }
    @media screen and (max-width: $breakpoint-sm) {
      position: absolute;
      bottom: 0;
      height: 70%;
      opacity: .4;
    }
  }
}

.slider {
  &-enter-active, &-leave-active {
    transform: translate(0);
    transition: .6s ease;
  }
  &-enter-from {
    transform: translateX(10%);
    opacity: 0;
  }
  &-leave-to {
    transform: translateX(-10%);
    opacity: 0;
  }
}
.slider-from-bottom {
  &-enter-active, &-leave-active {
    transform: translate(0);
    transition: .8s ease;
  }
  &-enter-from {
    transform: translateY(10%);
    opacity: 0;
  }
  &-leave-to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

.slider-image {
  &-enter-active, &-leave-active {
    transform: translate(0);
    transition: .5s ease;
  }
  &-enter-from {
    transform: translateX(30%);
    opacity: 0;
  }
  &-leave-to {
    transform: translateX(-30%);
    opacity: 0;
  }
}