<template>
  <div
    v-for="(slide, index) in slides"
    :key="slide.title" 
    v-show="index === currentSlide"
    class="slide" 
  >
    <Transition name="slider">
    <div
      v-show="index === currentSlide"
      class="slide-title"
      style="transition-delay: .2s;"
    >
      {{ slide.title }}
    </div>
    </Transition>
    <div class="slide-description">
      <Transition name="slider-from-bottom">
        <div v-show="index === currentSlide" class="description-column" style="transition-delay: .3s;">
          <h3 class="description-column__title">{{ slide.description.col1.title }}</h3>
          <p class="description-column__text">{{ slide.description.col1.description }}</p>
        </div>
      </Transition>
      <Transition name="slider-from-bottom">
        <div v-show="index === currentSlide" class="description-column" style="transition-delay: .45s;">
          <h3 class="description-column__title">{{ slide.description.col2.title }}</h3>
          <p class="description-column__text">{{ slide.description.col2.description }}</p>
        </div>
      </Transition>
    </div>
    <div class="slide-buttons">
      <NuxtLink
        class="read-more"
        :to="slide.link"
        target="_blank"
        external
      >
        Read More
      </NuxtLink>
      <NuxtLink
        class="view-project"
        :to="slide.link"
        target="_blank"
        external
      >
        <NuxtImg
          src="/icons/play.svg"
          alt="play"
        />
        <span>View project</span>
      </NuxtLink>
    </div>
    <Teleport to="body">
      <Transition name="slider-image" mode="out-in">
        <div
          v-if="index === currentSlide"
          class="slide-background-image"
          :style="`background: ${slide.background};`"
        >
          <NuxtImg
            :src="slide.image"
            :alt="slide.title"
          />
        </div>
      </Transition>
    </Teleport>
  </div>
  <Teleport to=".slider-counter">
    <div class="slider-controller">
      <button
        class="prev-slide"
        @click="holdInterval(); prevSlide()"
      >
        <NuxtImg
          src="/icons/caret.svg"
          alt="left-caret"
        />
      </button>
      <span class="current-slide">{{ parseNumber(currentSlide + 1) }}</span>
      <div class="progress">
        <span class="bar" :style="`--percentage: ${fillPercentage}%;`" />
      </div>
      <span class="total-slides">{{ parseNumber(totalSlides) }}</span>
      <button
        class="next-slide"
        @click="holdInterval(); nextSlide()"
      >
        <NuxtImg
          src="/icons/caret.svg"
          alt="right-caret"
        />
      </button>
    </div>
  </Teleport>
</template>

<script setup lang="ts">
import type { Slide } from '~/utils/slider'

const props = defineProps({
  slides: {
    type: Array as PropType<Slide[]>,
    required: true
  }
})

const totalSlides = ref(props.slides.length)
const currentSlide = ref(0)
const fillPercentage = computed(() => (currentSlide.value + 1) / totalSlides.value * 100)

const parseNumber = (number: number) =>
  number >= 10 ? number : '0' + number

const prevSlide = () =>
  currentSlide.value - 1 < 0
    ? currentSlide.value = totalSlides.value - 1
    : currentSlide.value--

const nextSlide = () =>
  currentSlide.value + 1 >= totalSlides.value
    ? currentSlide.value = 0
    : currentSlide.value++

const { pause, resume, isActive } = useIntervalFn(nextSlide, 5000)

const holdInterval = () => {
  pause()
  setTimeout(() => !isActive.value && resume(), 3000)
}

</script>

<style lang="scss" scoped>
@import 'Slider.scss';
</style>