@font-face {
  font-family: 'PlayfairDisplay';
  src: url('~/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('~/assets/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('~/assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'ZillaSlab';
  src: url('~/assets/fonts/Zilla_Slab/ZillaSlab-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'ZillaSlab';
  src: url('~/assets/fonts/Zilla_Slab/ZillaSlab-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ZillaSlab';
  src: url('~/assets/fonts/Zilla_Slab/ZillaSlab-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'ZillaSlab';
  src: url('~/assets/fonts/Zilla_Slab/ZillaSlab-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaDemi';
  src: url('~/assets/fonts/FuturaDemiC/futurademic.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('~/assets/fonts/FuturaBookC/futurabookc.otf');
  font-weight: 400;
  font-display: swap;
}