* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f6f6f8;
}

#__nuxt {
  height: 100%;
}

img {
  user-select: none;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

a {
  color: $link-color;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'NeueMontreal';
  text-decoration: none;
  transition: $default-transition;
  cursor: pointer;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

main {
  padding: 0 120px;
  flex: 1;
  @media screen and (max-width: $breakpoint-md) {
    padding: 0 60px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 40px;
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: 0 16px;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 100px;
  min-height: 40px;
  border: 6px solid rgba(0,0,0,0);
  background-clip: padding-box;
  padding: 5px;
}