footer {
  display: grid;
  grid-template-areas: 'a b b';
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 120px 60px;

  .socials {
    grid-area: 'a';
    position: static;
    transform: none;
  }
  .slider-counter {
    grid-area: 'b';
  }

  @media screen and (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: 0 60px 40px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 40px 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .slider-counter {
      width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: 0 16px 20px;
  }
}