<template>
  <Slider :slides="slides" />
</template>

<script setup lang="ts">
import type { Slide } from '~/utils/slider'
const slides = ref<Slide[]>([])
/*
  Этот вынужденный костыль сделан чтобы иметь фон одного цвета, когда отображается слайд, потому что цвет фона у всех картинок, приходящих с апи, разные, 
  а делать картинки width: 100% плохо, т.к. они будут расширяться и плыть на 1440px+ разрешениях.
  Если зафиксировать на max-width: 1440px; то будет пустое пространство, фон которого отличается от фона картинки и это заметно.
  Собственно, решение чуть ниже и в темплейте.
  
  Осмелюсь предположить, что мало кто из кандидатов это заметил, 
  можно посмотреть их работы и воспроизвести это просто увеличив разрешение с 1440px на что-то большее через devtools и потыкав слайдер
*/
const slidesBackgroundColors = ['#f3f3f3', '#f5f6f7', '#f3f3f3']

const { data } = await useCustomFetch<Slide[]>('/menu')
if (data.value) {
  slides.value = data.value.map((slide: Slide, index: number) => {
    slide['background'] = slidesBackgroundColors[index] || '#fff';
    return slide
  })
}
</script>
