.burger-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__toggle {
    z-index: 2;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    &-text {
      font-family: 'FuturaDemi';
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      color: #000;
    }
    &-img {
      min-width: 15px;
      min-height: 15px;
      transition: $default-transition;
    }
    &:hover &-img {
      transform: rotate(180deg);
    }

    &-button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 4px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      & > span {
        display: block;
        width: 100%;
        height: 1px;
        background: #444;
        transition: .1s ease;
        &:last-child {
          width: 70%;
        }
      }
      &:hover {
        & > span {
          width: 80%;
          &:first-child {
            width: 60%;
          }
          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }
}

.menu {
  background: url('~/assets/images/menu-background.png'), white;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .link {
      position: relative;
      opacity: 0;
      bottom: -40px;
      width: 100%;
      text-align: center;
      animation: reveal-link-from-bottom .3s forwards linear;
      &-image {
        position: absolute;
        top: 120%;
        right: -120%;
        transform: translateY(-50%);
        width: 220px;
        height: 316px;
        object-fit: cover;
        opacity: 0;
        transition: $default-transition;
        pointer-events: none;
        box-shadow: 0 8px 15px 3px rgba(0,0,0,0.1);
      }
      &:hover .link-image {
        top: 50%;
        opacity: 1;
      }
      
      &:nth-child(odd) {
        .link-image {
          transform: translateY(-50%);
          left: -120%;
        }
        &:hover .link-image {
          rotate: 5deg;
        }
      }
      &:nth-child(even):hover .link-image {
        rotate: -5deg;
      }
      &-text {
        font-family: "PlayfairDisplay";
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        color: #444444;
        opacity: .4;
        transition: $default-transition;
      }
      &:hover .link-text {
        color: #425A20;
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: $breakpoint-sm) {
    &-links {
      gap: 25px;
    }
  }
}

@keyframes reveal-link-from-bottom {
  75% {
    bottom: 10px;
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .1s ease;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

.slide-left {
  &-enter-active, &-leave-active {
    margin-right: 0;
    transition: .1s ease;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
    margin-right: -40px;
  }
}

.reveal-menu {
  &-enter-active {
    transform: scale(1);
    border-radius: 0;
    transition: border-radius .5s ease, opacity .5s ease, transform .2s ease;
  }
  &-leave-active {
    transition: .5s ease;
  }
  &-enter-from {
    transform: scale(0);
    opacity: 0;
    border-radius: 100%;
  }
  &-leave-to {
    transform: translateY(100%);
    opacity: 0;
    border-radius: 100%;
  }
}