<template>
  <div class="burger-menu">
    <div
      class="burger-menu__toggle"
      @click="isMenuOpened = !isMenuOpened"
    >
      <Transition name="slide-left">
        <p v-if="isMenuOpened" class="burger-menu__toggle-text">Close</p>
      </Transition>
      <Transition name="fade" mode="out-in">
        <NuxtImg
          v-if="isMenuOpened"
          class="burger-menu__toggle-img"
          src="/icons/close.svg"
          alt="close"
          preload
        />
        <div
          v-else
          class="burger-menu__toggle-button"
        >
          <span />
          <span />
          <span />
        </div>
      </Transition>
    </div>
    
    <Teleport to="body">
      <Transition name="reveal-menu">
      <div
        v-if="isMenuOpened"
        class="menu"
      >
        <div class="menu-links">
          <NuxtLink
            v-for="({title, href, imageLink}, index) in navLinks"
            :key="title"
            :to="href"
            class="link"
            :style="`animation-delay: ${(index + 1) * .15}s`"
          >
            <NuxtImg
              v-if="imageLink"
              class="link-image"
              :src="imageLink"
              :alt="title"
              quality="80"
              preload
            />
            <p class="link-text">{{ title }}</p>
          </NuxtLink>
        </div>
        <SocialLinks animated />
        <LanguageSelector v-if="isLowerThanTablet" absolute />
      </div>
      </Transition>
    </Teleport>
  </div>
</template>

<script setup lang="ts">
const isMenuOpened = useState<boolean>('isBurgerMenuOpened', () => false)
const navLinks = useState('navLinks')

const isLowerThanTablet = useMediaQuery('(max-width: 768px)')
</script>

<style lang="scss" scoped>
@import 'BurgerMenu.scss';
</style>