<template>
  <div
    class="language-selector"
    :class="{ 'absolute': absolute }"
  >
    <button
      v-for="[key, value] of Object.entries(Locales)"
      :key="value"
      class="language-selector__button"
      :class="{ 'active': key === locale }"
      @click="setActiveLocale(key)"
    >
      {{ value }}
    </button>
  </div>
</template>

<script setup lang="ts">
defineProps({
  absolute: {
    type: Boolean,
    required: false
  }
})
const locale = useLocale()
const setActiveLocale = (loc: string) => locale.value = loc
</script>

<style lang="scss" scoped>
@import 'LanguageSelector.scss';
</style>