.language-selector {
  position: relative;
  padding-left: 40px;
  display: flex;
  gap: 16px;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    background: #000;
    opacity: .2;
  }
  &__button {
    font-size: 16px;
    line-height: 18px;
    font-family: 'FuturaDemi';
    padding: 6px 6px 3px 6px;
    border-radius: 5px;
    color: #333333;
    opacity: .5;
    transition: $default-transition;
    cursor: pointer;
    &.active {
      background: #4a64241e;
      opacity: 1;
    }
    &:hover:not(.active) {
      background: #4a64241e;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    padding-left: 20px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    &:before {
      display: none;
    }
    padding-left: 0;
    position: absolute;
    bottom: 80px;
  }
}